.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 550px;
  border: 4px solid #00a2ff;
  margin: 2rem auto;
  justify-content: center;
  background-color: #2d4553;
  position: relative;
  z-index: 0;
  padding: 3rem;
}
.booking-form.false{
animation: shake .5s linear;
}
@keyframes shake{
  0%{
    transform: rotate(0deg);
  }
  33%{
    transform: rotate(.5deg);
  }
  66%{
    transform: rotate(-.5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.booking-form::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #2d4553;
}

label {
  justify-self: flex-start;
  align-self: flex-start;
  font-weight: 700;
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-direction: column;

}


.booking-form * {
  position: relative;
}
.form-title {
  font-family: var(--boldfont);
  flex: 1 0 100%;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;


}

.cleaner {
  justify-content: center;
  align-items: center;
  flex: 1 0 300px;
}
.cleaner select {
  width: 90%;
}
.levels {
  display: flex;
  justify-content: space-around;

 width: 300px;
align-self: center;

margin-right: 3rem;
}
.form-element {
  all: unset;
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: #2d4553;
  border-radius: 10px;
  padding-inline: 1rem;
  outline: 3px solid var(--orange);
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 3px 3px 3px var(--black);
}
.form-element.false {
  outline: 3px solid red;
}
select:focus {
  background-color: var(--primaryblue);
}

[type="radio"] {
  all: unset;
  position: absolute;
  height: 100%;
  width: 100%;
}
input:hover,select:hover,button:hover{
  cursor: pointer;
}
[type="radio"]::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  outline: 3px solid var(--white);
  margin: 2px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primaryblue);
}
/*  width: 12px;
  height: 12px;
  border-radius: 100%;
  outline: 3px solid var(--white);
  margin: 2px;
  background: var(--primaryblue);*/
[type="radio"]:checked::after {
  background: var(--gradient);
}
.radio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 85px;
  font-weight: 800;
}
.radio-wrapper * {
  transition: 0.5s;
}
.lower-lvl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex:1 0 100px;
}

.lower-lvl label{
  margin-bottom: .5rem;
}

.submit-div {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  all: unset;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 50vw;
  width: 15rem;
  background: var(--gradient);
  height: 3rem;
  box-shadow: 3px 3px 3px var(--black);
}
.error {
  user-select: none;
  pointer-events: none;
  color: #e33d40;
  animation: 0.2s error cubic-bezier(0, -2.08, 1, 2.32);
  position: absolute;
  left: 16ch;
  top: 55%;
}
.lower-lvl .error {
  top: 40%;
  left: 75%;
  width: 80px;
}
[type="date"] {
  width: fit-content;
}

[type="time"] {
  width: fit-content;
}
.radio-wrapper .true {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.date-error{
  color: #e33d40;
  background-color: #2d4553;
  position: absolute;
  top:110%;
  left: 50%;
  transform: translateX(-50%);
  outline: 3px solid red;
  border-radius: 3px;
  padding: .2rem;
}
.cleaner label,
.level label {
  margin-bottom: 0.5rem;
}
@keyframes error {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .levels{
    margin-right: 0rem;
  }
  .flex{
    align-items: center;
  }
}