* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
main {
  background-color: white;
}

.linkToBooking {
  text-decoration: none;
}

.main-section {
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem;
  justify-content: space-around;
  background-color: white;

  .info-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: black;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;

    input {
      padding: 0.4rem;
      border: 3px solid var(--orange);
      margin: 0.6rem 0;
      border-radius: 10px;
    }

    .form-btn {
      text-align: start;
      color: white;
      padding: 0.4rem;
      border: 3px solid var(--orange);
      margin: 0.3rem 0;
      border-radius: 30px;
      background: var(--gradient);
      padding: 0.7rem;
    }
  }
}



h1 {
  color: black;
  font-size: 50px;
  span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Avdelare under header */
.page-divider {
  background-color: var(--primaryblue);
  width: fill;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-divider > h2 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Services */

.services {
  color: black;
  margin: 2rem 0;

  h1 {
    font-size: 60px;
    text-align: center;
  }
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    width: 60%;
    margin: 2rem auto;
  }
}

.services-categories {
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;

    p {
      margin-top: 0;

      a {
        text-decoration: none;
        color: var(--orange);
      }
    }
    h2 {
      font-size: 40px;
      background: var(--gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  img {
    object-fit: cover;
    width: 80%;
    height: 18rem;
    border-radius: 5px;
    margin: 0 auto; 
    box-shadow: 2px 2px 4px rgb(196, 196, 196);
  }
}

/* FOOTER */
footer {
  padding: 50px 15%;
  background: var(--primaryblue);
  display: flex;

  .logo-container {
    position: absolute;
    left: 0;
    display: flex;
    align-self: center;
  }

  img {
    height: 52px;
  }
  
  h2 {
    color: var(--white);
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  div {
    text-align: center;
  }

  input {
    width: 60%;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin: 20px 0 40px 0;
    outline: none;
    border: none;
}

button {
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
}

  .footer-2 {
    flex-grow: 1;
  }

    .footer-1 {
    a {
      display: block;
      text-decoration: none;
      color: var(--white);
      margin-bottom: 10px;
    }
  }


/*  */

.MuiBox-root {
  ul {
    display: flex;
    flex-direction: column;
  }
}



@media screen and (max-width: 768px) { 


  .main-section {
    flex-direction: column;

    h1 {
      font-size: 1.8rem;
    }

    .info-div {
      margin-bottom: 3rem;
      width: 100%;

      p {
        margin: 1.5rem 0;
      }
    }
  }

  footer {
    flex-direction: column;
  }
   .services-categories {
    flex-direction: column;

    .service-img {
      width: 60%;
    }
  } 

  
}


